/* modified from https://www.w3schools.com/tags/tag_footer.asp */
footer {
    background-color: var(--darkAccent);
    padding: 1em;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerText {
    font-size: large;
}
