.MovieCard {
    position: relative;
    cursor: pointer;
    transition: filter .6s;
}

.MovieCard:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.MoviePoster {
    width: calc(100% - 1em);
    padding: .5em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition:  padding .5s, width .5s;

}

.MovieCard:hover .MoviePoster {
    width: 100%;
    padding: 0px;
}

.MovieTitle {
    margin: 0px;
    text-align: center;
    margin-bottom: 1.5em;
    transition: margin .5s;

}

.MovieCard:hover .MovieTitle {
    margin-bottom: 0em;
}

.MovieRating {
    border-radius: 100%;
    background: #121212;
    position: absolute;
    margin: 0px;
    top: -5px;
    right: -5px;
    padding: 1em;
}
