.MovieCard {
    position: relative;
    cursor: pointer;
    transition: filter .6s;
}

.MovieCard:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
}

.MoviePoster {
    width: calc(100% - 1em);
    padding: .5em;
    padding-top: 0em;
    padding-bottom: 0em;
    transition: padding .5s, width .5s;

}

.MovieCard:hover .MoviePoster {
    width: 100%;
    padding: 0px;
}

.MovieTitle {
    margin: 0px;
    text-align: center;
    margin-bottom: 1.5em;
    transition: margin .5s;

}

.MovieCard:hover .MovieTitle {
    margin-bottom: 0em;
}

.MovieRatingCircle {
    border-radius: 100%;
    background: #121212;
    position: absolute;
    margin: 0px;
    top: -5px;
    right: -5px;
    width: 3em;
    height: 3em;
}

/* modified from https://www.w3schools.com/css/css_align.asp Center Vertically - Using position & transform */
.MovieRating{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.togglelistButtons {
    opacity: 0;
    position: absolute;
    top: 4px;
    left: 4px;
    padding-left: .5em;
    transition: padding .5s, opacity .5s;
}

.togglelistButtons button{
    display: block;
}

.MovieCard:hover .togglelistButtons {
    display: block;
    opacity: 1;
    padding-left: 0px;
}
