.bodyContainer {
    padding: 1em;
    min-height: 100vh;
    display: flex;
}

.movieListContainer {
    min-width: 0;
    margin: auto;
    margin-top: 0px;
}

.movieList {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
    max-width: 1000px;
    /* TODO invistagate why these were needed */
    /* margin-left: 1em;
    margin-right: 1em; */
}

/* Ensures that the footer doesn't cover up content */
/* TODO: invistage a better way to do this */
.loadMore {
    margin-bottom: 7em;

}

/* Make the side bar and content stack if the page is small */
@media only screen and (max-width: 580px) {
    .bodyContainer {
        display: block;
    }

    /* Important is used so that the media querry can live only in this file */
    .sideBar {
        margin: 0px !important;
        min-width: unset !important;
        width: unset !important;
    }

    .sideBar.preload {
        display: none !important;
    }

    .sideBarButton {
        left: 15px !important;
    }

    .togglelistButtons {
        opacity: 1 !important;
    }

}
