#root {
    --darkBG: hsl(279, 7%, 52%);
    --darkAccent: hsl(0, 4%, 34%);
    --color-red: hsl(0deg 80% 50%);
    --color-blue: hsl(270deg 75% 60%);
    color: white;
    background-color: var(--darkBG);
    ;
}
