.filtersAndSearch {
    background-color: var(--darkAccent);
    display: flex;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
}

.navButton {
    height: 100%;
}

.filters {
    display: flex;
    gap: 1em;
}
